name: Sync to S3
on:
  workflow_dispatch:
jobs:
  checkout_repo:
    name: Sync blog to S3
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Sync blog to S3
      run: |
        cd $GITHUB_WORKSPACE/public
        aws s3 sync . s3://static-blog-blantontechnology --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.ACTIONS_USER_ACCESS_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.ACTIONS_USER_SECRET_ID }}
        AWS_DEFAULT_REGION: us-east-1